.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerAvatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .participantNumber {
    margin-left: 10px;
  }
  .groupsCards {
    width: auto;
    padding: 0;
  }
}
.headerOptions {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    cursor: pointer;
    svg {
      min-height: 30px;
      min-width: 30px;
      color: gray;
    }
  }
}
